<%# 指摘、疑問、感想、その他のタグ %>
<span class="tag
             <% if comment.tag == '指摘' %>
             siteki
             <% elsif comment.tag == '疑問' %>
             gimon
             <% elsif comment.tag == '感想' %>
             kanso
             <% else %>
             sonota
             <% end %>">
  <i class="fas fa-tag"></i> <%= comment.tag %>
</span>
