<div class="text-center">
  <div class="top-title">
    <h4>自由学園</h4>
    <h2 style="margin-top:0px">報告会アンケート</h2>
  </div>

  <div class="top-contents">
    <i class="fas fa-user-plus"></i>
    <p>アカウントを作成してアンケートに参加する</p>
    <div class="btn top-btn">
      アカウント作成
    </div>
    <div class="btn top-btn">
      ログイン
    </div>
  </div>
</div>
