<%# ゼミ別タグ %>
<span class="<% if present.research == '2年課程' %>
              ninenn
            <% elsif present.research == 'フィールドサイエンス' %>
              field
            <% elsif present.research == 'ヒューマンサイエンス' %>
              human
            <% elsif present.research == 'データサイエンス' %>
              data
            <% elsif present.research == 'ライフスタイル' %>
              life
            <% else %>
              manage
            <% end %>">
  <i class="fas fa-bookmark"></i>
</span>
