<span class="<% if present.user.research == 'フィールドサイエンス' %>
              field
            <% elsif present.user.research == 'ヒューマンサイエンス' %>
              human
            <% elsif present.user.research == 'データサイエンス' %>
              data
            <% elsif present.user.research == 'ライフスタイル' %>
              life
            <% else %>
              manage
            <% end %>">
  <i class="fas fa-bookmark"></i>
</span>
