<%# 報告内容変更 %>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="panel">
      <div class="panel-heading">
        <h4 class="text-center">報告会の変更</h4>
        <%= link_to '←報告会一覧へ', root_path, class: 'back-btn' %>
      </div>
      <%= render 'mains/main_form', main: @main %>
    </div>
  </div>
</div>
    