@charset "utf-8";

body {
  padding-top: 70px;
  color: #555555;
  background: #8b1c48;

  word-wrap: break-word;
}

/* リンク */
a {
  color: #555555;
}

/* メニューボタン */
.navbar-toggle {
  padding: 5px 10px 0px 9px;
}

/* トップページデザイン */
.top-title {
  color: #fff;
  margin-top: 20%;
  margin-bottom: 40px;
}

.top-jiyu {
  margin-bottom:20px;
  font-size:20px;
}

/* 基本ボタン */
.nomal-btn {
  color: #8b1c48;
  background: #fff;
  border: 1px solid #8b1c48;
  border-radius: 0px;
  padding: 10px 16px;
  margin: 10px;
  text-decoration: none;
}

.nomal-btn:hover {
  color: #fff;
  background: #8b1c48;
}

/* 削除ボタン */
.delete-btn {
  font-size: 11px;

  color: #ca0101;
  background: #fff;
  border: 1px solid #ca0101;
  padding: 3px;
  text-decoration: none;
}

.delete-btn:hover {
  color: #ff0000;
  border: 1px solid #ff0000;
  text-decoration: none;
}

/* 変更ボタン */
.edit-btn {
  font-size: 11px;

  color: #e06c00;
  background: #fff;
  border: 1px solid #e06c00;
  padding: 3px;
  text-decoration: none;
}

.edit-btn:hover {
  color: #ff7b00;
  border: 1px solid #ff7b00;
  text-decoration: none;
}

/* バックボタン */
.back-btn {
  font-size: 11px;

  color: #e06c00;
  background: #fff;
  border: 1px solid #e06c00;
  padding: 5px;
  text-decoration: none;
}

.back-btn:hover {
  color: #ff7b00;
  border: 1px solid #ff7b00;
  text-decoration: none;
}

/* パネル */
.panel-heading {
  border-bottom: 1px dashed;
}

.panel-body {
  padding: 0px;
}

.panel-body ul {
  padding: 0px;
}

.panel-body li {
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid #d3d3d3;
}

/* 報告会フォームボタン */
.fixed-btn {
  position: fixed;
  bottom: 40px; 
  right: 9%;

  font-size: 20px;
  background: #fff;
  padding: 13px;
  border-radius: 50%;
}

.sample-b {
  color: #8b1c48;
  border: 3px solid #8b1c48;
}

.group-0-b {
  color: #4bb7ff;
  border: 3px solid #4bb7ff;
}

.sample-btn {
  color: #8b1c48;
  padding: 5px;
  border-radius: 50%;
  border: 3px solid #8b1c48;
}

.group-0-btn {
  color: #4bb7ff;
  padding: 5px;
  border-radius: 50%;
  border: 3px solid #4bb7ff;
}

footer {
  display: block;
  height: 100px;
}

/* ページネーション */
.pagination>.active>a {		
  background: #8b1c48;	
  border-color: #8b1c48;	
  border-radius:15px;		
}

.pagination>li>a {			
  border: none;				
  color: #696969;	
}

.pagination>li>a:hover {		
  border-radius:15px;		
}

/* リンク */
.link {
  color: #fff;
}

.link:hover {
  color: #fff;
}

/* mainのデザイン */
.main-group {
  margin-top:10px;
  font-size: 12px;
}

.group-0 {
  background: #d0faff;
  padding: 5px;
  border-radius: 6px;
} 

.group-1 {
  background: #fff8d0;
  padding: 5px;
  border-radius: 6px;
}

.main-title {
  margin: 15px 0px 5px 15px;
}

/* ゼミボタン・タグ */
.research {
  margin: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #d3d3d3;
}

.research-btn {
  margin:2px;
  text-decoration: none;
  color: #555555;
  border-radius: 15px;
  border: 1px solid #c4c4c4;
}

.research-tag {
  font-size: 11px;
  padding:2px;
  border-radius: 15px;
  margin-left: 5px;
}

.all {
 background: #8f4c005b;
 border-color: #8f4c005b;
}

.field {
  background: #089e0852;
  border-color: #089e0852;
}

.human {
  background: #ff50ca56;
  border-color: #ff50ca56;
}

.data {
  background: #3852e75b;
  border-color: #3852e75b;
}

.life {
  background: #ff880056;
  border-color: #ff880056;
}

.manage {
  background: #a200ff3f;
  border-color: #a200ff3f;
}
