<header>
  <span class="nav">
    <a href="/"><img src="/images/logo.png" alt="報告会アンケート" class="logo"></a>
    <% if logged_in? %>
      <%= link_to logout_path, method: :delete do %>
        <span class="btn text-center pull-right"><i class="fas fa-sign-out-alt navicon"></i><br>ログアウト</span>
      <% end %>
      <%= link_to user_path(current_user) do %>
        <span class="btn text-center pull-right"><i class="fas fa-user navicon"></i><br>マイページ</span>
      <% end %>
    <% else %>
      <%= link_to login_path do %>
        <span class="btn text-center pull-right"><i class="fas fa-sign-in-alt navicon"></i><br>ログイン</span>
      <% end %>
      <%= link_to signup_path do %>
        <span class="btn text-center pull-right"><i class="fas fa-user-plus navicon"></i><br>アカウント登録</span>
      <% end %>
    <% end %>
  </span>
</header>
