<header>
  <nav class="navbar navbar-default navbar-static-top navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span style="font-size: 1px">menu</span>
        </button>
        <a class="navbar-brand" href="/">自由学園報告会アンケート</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">ログイン</a></li>
          <li><a href="#">ログアウト</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>